body {
    margin: 0;
    font-family: monaco;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headings {
    color: #CCFF00;
}

#title {
    margin-top: 20px;
}

#description {
    margin-bottom: 30px;
}

#tooltip-container {
    display: block;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: #CCFF00;
    border-radius: 20px;
    min-width: 200px;
    min-height: 100px;
}

#tooltip {
    visibility: hidden;
    width: 190px;
    border-radius: 7px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#legend {
    display: block;
    float: right;
}

.container {
    max-width: 1000px;
}